*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #053005;
}
body{
    font-family: trirong;
    font-size: 20px;
    /*text-shadow: 1px 1px 1px #f49b9b;*/ 
    min-height: 150vh;
}
h1{
    text-align: center;
}/*h3{
    display: inline-block;
    margin: 0px;
    padding: 2em;
}*/
fieldset{
    margin: auto;
    padding: 2em;
    border-radius: 15px;
    border: solid 1px #053005;
    width: 500px;
    max-width: 100%;
    height: 35em;
    background-color: white;
}
label{
    display: block;
    margin: 1px;
}
/*.form-group{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: ;
}*/
.form-group{
    display: block;
    padding: 10px;
    margin: 10px;
    
}
.radio{
    display: inline-block;
    padding: 8px;
    margin: 4px;
}
input[type=radio]{
    display: inline;
}
.submit{
    border-radius: 10px;
    background-color: #053005;
    font-family: trirong;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100px;
    text-shadow: none;
    border: 1px solid #053005;
    
     
}
input[type=submit]{
    color: white;
    border: none;
    padding: 10px 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #053005;
}
input[type=text] {
    width: 100%;
    padding: 9px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #053005;
    border-radius: 4px;

}
input[type=number]{
    width: 100%;
    padding: 9px;
    margin: 6px 0;
    border: 2px solid #053005;
    border-radius: 4px;
}
input[type=Email]{
    width: 100%;
    padding: 9px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #053005;
    border-radius: 4px;
}
input[type=Password]{
    width: 100%;
    padding: 9px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #053005;
    border-radius: 4px;
}